.idea
ll
l
**/*~
**/*.vvp
**/*.swp
**/*.vcd
**/a.out
**/*.v.out

**/.old
/verilog/_old/
**/venv*/
**/old/
*/ll
**/nohup*
**/*.1
**/ll
uart.out
**/*.swo
out/
build/
.gradle/
.classpath
.project
.settings
verilog/assembler/bin
verilog/assembler/antlr
verilog/assembler/.vscode
